<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.keyboardlayout.j1dev-dvorak</string>
	<key>CFBundleName</key>
	<string>dvorak-programmer-qwerty-v2</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Dvorak Programmer V2 – QWERTY ⌘</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>com.apple.keyboardlayout.j1dev-dvorak.dvorakprogrammerv2–qwerty⌘</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
